<div class="card">
  <div class="card-header bg-primary text-white">
    {{title}}
    <button class="btn btn-sm btn-light ml-4" *ngIf="!showAddProd" (click)="showAddProd = true">
      New Product</button>
  </div>
  <div class="card-block">
    <ap-product-add *ngIf="showAddProd"
                    (productAdd)="addProduct($event)"
                    (cancel)="showAddProd = false"></ap-product-add>

    <div *ngIf="!showAddProd && products && products.length">
      <div class="row headers no-gutters">
        <div class="col-2">
          <button class="btn btn-sm" [ngClass]="{'btn-danger': showImages, 'btn-primary': !showImages}" (click)="toggleImage()">
            {{showImages?'Hide':'Show'}} images
          </button>
        </div>
        <div class="col-4">{{headers.desc}}</div>
        <div class="col">{{headers.price}}</div>
        <div class="col">{{headers.avail}}</div>
        <div class="col">{{headers.rating}}</div>
        <div class="col"></div>
      </div>

      <ap-product-item class="row no-gutters" [ngClass]="{'even': isEven}"
        *ngFor="let prod of products | productsFilter:filterSearch; let isEven = even"
        [product]="prod" [showImage]="showImages" (deleted)="deleteProduct(prod)"></ap-product-item>
    </div>
  </div>
</div>
